.animation {
    
    &--text {

        &.split {

            &.words {
        
                .word,
                .whitespace {
                    display: inline-flex;
                    overflow: hidden;
                   
                    span {
                        transform: translate3d(0, 120%, 0) rotate3d(1, 1, 1, 4deg);
                    }
                }
        
                &.is-in-view {
            
                    .word.is-show span {
                        transition: transform var(--animation-secondary);
                        transform: translateY(0%);
                    }
                }
            }
        }
    }

    &--fade-up {
        opacity: 0;
        transform: translate3d(0, var(--spacing-l), 0);
        transition: opacity var(--animation-secondary), transform var(--animation-secondary);

        &.is-in-view {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &--translate-up {
        transform: translate3d(0, 100%, 0);
        transition: transform var(--animation-secondary);

        .image {
            transform: translate3d(0, -100%, 0);
            transition: transform var(--animation-secondary);
        }

        &.is-in-view {
            transform: translate3d(0, 0, 0);
        
            .image {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &--translate-down {
        transform: translate3d(0, -100%, 0);
        transition: transform var(--animation-secondary);

        .image {
            transform: translate3d(0, -100%, 0);
            transition: transform var(--animation-secondary);
        }

        &.is-in-view {
            transform: translate3d(0, 0, 0);
        
            .image {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &--translate-right {
        transform: translate3d(500%, 0, 0) rotate(-15deg);
        transition: transform var(--animation-secondary);

        &.is-in-view {
            transform: translate3d(0, 0, 0) rotate(0deg);
        }
    }
    
    &--fade-down-bg {
        @apply relative;
    
        &::before {
            @apply absolute top-0 left-0 w-full h-0 bg-dark z-[0];
            content: '';
            transition: height var(--animation-secondary);
        }
    
        & > * {
            @apply z-[1];
        }
    
        &.is-in-view::before {
            @apply h-full;
        }
    }
}