@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

@font-face {
    font-family: 'PP Mori';
    font-weight: 400;
    src: url("../fonts/PP\ Mori/PPMori-Regular.woff2") format("woff2");
}
