@use "sass:meta";
@use 'sass:map';
@use 'functions';
@use 'mixins';
@use 'data';

@mixin generate-text-style($settings) {
    @each $selector, $styles in $settings {

        // default
        @if $selector != 'desktop' and $selector != 'titles' {
            
            #{$selector} {
                @each $property, $value in $styles {
                    @if $property == 'font-family' {
                        #{$property}: functions.font-family($value);
                    }
                    @else {
                        #{$property}: var(--ts-#{$property});
                        --ts-#{$property}: #{$value};
                    }
                }
            }
            
            .ts-#{$selector} {
                @each $property, $value in $styles {
                    @if $property == 'font-family' {
                        #{$property}: functions.font-family($value);
                    }
                    @else {
                        #{$property}: var(--ts-#{$property});
                        --ts-#{$property}: #{$value};
                    }
                }
            }

            :root {
                @each $property, $value in $styles {
                    @if $property == 'font-family' {
                        // #{$property}: functions.font-family($value);
                    }
                    @else {
                        --ts-#{$selector}-#{$property}: #{$value};
                    }
                }
            }
        }

        // titles
        @if $selector == 'titles' {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .ts-h1,
            .ts-h2,
            .ts-h3,
            .ts-h4,
            .ts-h5,
            .ts-h6 {
                @each $property, $value in $styles {
                    @if $property == 'font-family' {
                        #{$property}: functions.font-family($value);
                    }
                    @else {
                        #{$property}: var(--ts-#{$selector}-#{$property});
                    }
                }
            }

            :root {
                @each $property, $value in $styles {
                    @if $property == 'font-family' {
                        // #{$property}: functions.font-family($value);
                    }
                    @else {
                        --ts-#{$selector}-#{$property}: #{$value};
                    }
                }
            }
        }
    }
}


// TODO: rem ?? js ?


/**
 * Breakpoints
 **/

$breakpoints: map.get(data.$data, 'breakpoints');

@if $breakpoints {
    @each $key, $value in $breakpoints {
        @theme {
            --breakpoint-#{$key}: #{$value}px;
        }
    }
}


/**
 * Gutters
 **/

$gutters: map.get(data.$data, 'gutters');

@if $gutters {
    @each $key, $value in $gutters {
        @if $key != 'default' {
            @include mixins.min-width($key) {
                html {
                    --gap: #{$value}rem;
                }
            }
        } @else {
            @theme {
                --gap: #{$value}rem;
            }
        }
    }
}


/**
 * Spacings
 **/

$spacings: map.get(data.$data, 'spacings');

@if $spacings {
    $deskropSpacings: map.get($spacings, 'desktop');

    @each $key, $value in $spacings {
        @theme {
            --spacing-#{$key}: #{$value}rem;
        }
    }
    
    @if $deskropSpacings {
        @include mixins.desktop() {
            @each $key, $value in $spacings {
                @theme {
                    --spacing-#{$key}: #{$value}rem;
                }
            }
        }
    }
}


/**
 * Margins
 **/

$margins: map.get(data.$data, 'margins');

@if $margins {
    @each $key, $value in $margins {
        @if $key != 'default' {
            @if map.get($breakpoints, $key) {
                @include mixins.min-width($key) {
                    html {
                        --spacing-margin: #{$value}rem;
                    }
                }
            }
        } @else {
            @theme {
                --spacing-margin: #{$value}rem;
            }
        }
    }
}


/**
 * Colors
 **/

$colors: map.get(data.$data, 'colors');

@if $colors {
    @each $key, $value in $colors {
        @theme {
            --color-#{$key}: #{$value};
        }
    }
}


/**
 * Text styles
 **/

$textStyles: map.get(data.$data, 'textStyles');

@if $textStyles {
    $deskropTextStyles: map.get($textStyles, 'desktop');

    // @layer utilities
    @include generate-text-style($textStyles);

    // desktop
    @if $deskropTextStyles {
        
        @include mixins.desktop() {
            @include generate-text-style($deskropTextStyles);
        }
    }
}


/**
 * Transitions
 **/

$transitions: map.get(data.$data, 'transitions');

@if $transitions {
    @each $key, $settings in $transitions {
        @if $key == 'default' {
            html {
                @each $k, $s in $settings {
                    --transition-#{$k}: #{$s};
                }
            } 
        } @else {
            html {
                @each $k, $s in $settings {
                    --transition-#{$key}-#{$k}: #{$s};
                }
            }
        }
    }
}
