.component-accordions {
    @apply border-b border-dark;
}

.component-accordions__accordion {
    @apply w-full;
}

.component-accordions__accordion.active {

    & .component-accordions__accordion-header svg {
        @apply rotate-[180deg]
    }

    & .component-accordions__accordion-body {
        @apply grid-rows-[1fr];
    }
}

.component-accordions__accordion-header {
    @apply ts-h4 flex justify-between items-center gap-l w-full py-l border-t border-dark cursor-pointer;
    @apply d:py-xl;

    & h3 {
        @apply ts-h4;
    }

    & span {
        @apply shrink-0;
        
        & svg {
            transition: transform var(--transition);
            @apply w-auto h-20;
        }
    }
}

.component-accordions__accordion-body {
    transition: grid-template-rows var(--transition);
    @apply grid grid-rows-[0fr];
}

.component-accordions__accordion-content {
    @apply overflow-hidden;
}

.component-accordions__accordion-content::after {
    content: '';
    @apply block pb-xxl;
}
