.component-acf-flex-content {
    @apply overflow-hidden;
}

.component-acf-flex-content:not(.component--halfscreen) > *,
.component-acf-flex-content.component--halfscreen > .component__content > * {
    @apply my-xxxxl;
}

.component-acf-flex-content > .acf-component--halfscreen {
    @apply d:max-w-col-6 d:mx-auto;
}

.component-acf-flex-content > *:not(.acf-component--fullscreen):not(.acf-component--section) {
    @apply px-margin;
}

.component-acf-flex-content > .acf-component--fullscreen + .acf-component--fullscreen,
.component-acf-flex-content > .acf-component--last-is-fullscreen + .acf-component--fullscreen {
    margin-top: calc(var(--spacing-xxxxl) * -1);
}

.component-acf-flex-content > .acf-component--fullscreen + .acf-component--first-is-fullscreen {
    margin-top: calc(var(--spacing-xxxxl) * -1);
}

.component-acf-flex-content > .acf-component--last-is-fullscreen + .acf-component--fullscreen {
    margin-top: calc(var(--spacing-xxxxl) * -1);
}
