.component-button {
    @apply ts-cta relative inline-flex justify-center items-center gap-s h-48 px-xl bg-primary text-light rounded-full overflow-hidden cursor-pointer;
    transition: all var(--transition);
    
    // @media (hover: hover) {
    //     &:hover {
    //         @apply text-light;
    //         background-color: darken(#304ACF, 10%);
    //     }
    // }

    & > span {
        @apply text-light;
        
        svg {
            @apply w-auto h-24;
        }
    }

    &--soft {
        @apply text-dark bg-transparent border border-[currentColor];

        & > span {
            @apply text-dark;
        }
    }

    &--simple {
        @apply h-auto px-0 text-dark bg-transparent rounded-none;

        & > span {
            @apply text-dark;
        }
    }
    
    &--icon {
        @apply w-48 px-0 text-dark bg-transparent border border-[currentColor] rounded-full;

        & > span {
            @apply text-dark;
        }
    }
    
    &--pagination {
        @apply w-48 px-0 border border-dark text-dark bg-transparent rounded-full;

        & > span {
            @apply text-dark;
        }

        &.active {
            @apply bg-dark text-light;

            & > span {
                @apply text-light;
            }
        }
    }
    
    &--burger {
        @apply gap-10 text-dark bg-transparent border border-[currentColor] rounded-full;

        & > span {
            @apply flex flex-col justify-center relative w-15 text-dark;
            transition: transform var(--transition);

            & > span {
                @apply w-full h-[2px] bg-[currentColor];
                transition: var(--transition);

                &:first-child {
                    @apply absolute w-full;
                    transform: translate3d(0, -4px, 0);
                }
                
                &:last-child {
                    @apply absolute w-full;
                    transform: translate3d(0, 4px, 0);
                }
            }
        }

        &.active {

            & > span {
                transform: rotate(45deg);

                & > span {

                    &:first-child {
                        transform: rotate(90deg) translate3d(0, 0, 0);
                    }
                    
                    &:last-child {
                        transform: translate3d(0, 0, 0);
                    }
                    
                    &:nth-child(2) {
                        width: 0;
                    }
                }
            }
        }
    }

    &--full {
        @apply w-full;
    }
}
