.component--carousel {
    @apply flex flex-col gap-xxxl overflow-hidden;

    .component {

        &__header {
            @apply fbc gap-xxl;

            & > div {
                @apply shrink-0;
            }
        }
    }

    .swiper {
        @apply w-full overflow-visible;
        width: calc(100% + var(--spacing-gap));
        margin-left: calc(var(--spacing-gap) / -2);

        &-slide {
            @apply w-full;
            padding: 0 calc(var(--spacing-gap) / 2);

            & > * {
                @apply w-full;
            }
        }
    }
}