.component--cookies-manager {
    position: fixed;
    bottom: var(--margin);
    right: var(--margin);
    width: 43rem;
    background-color: var(--color-light);
    z-index: 100;

    &:not(.active) {
        display: none;
    }

    & > div:not(.active) {
        display: none;
    }

    .component {
        
        &__main {
            @apply flex flex-col gap-l;

            & > div:first-child {
                @apply flex flex-col gap-s;
            }
        }

        &__main,
        &__preferences {
            @apply flex flex-col gap-xl p-xxl bg-light border border-gray2;
        }
        
        &__preferences {

            & > div:first-child {
                @apply flex flex-col gap-l;
            }
        }

        &__title {
            @apply ts-bold;
        }
        
        &__description {
            @apply ts-body2;
        }
        
        &__privacy-policy {
            @apply underline;
        }

        &__buttons {
            @apply flex justify-between gap-xl;

            & > span {
                @apply flex gap-xl;
            }
        }

        &__button-personalize,
        &__back {
            @apply text-gray1 border-gray1;
        }
        
        &__button-accept,
        &__button-confirm {
            @apply component--button;
        }

        &__services {
            @apply flex flex-col gap-s;
        }

        &__service {
            @apply flex justify-between gap-l;

            span {
                @apply ts-body2;
            }

            button {
                width: 4rem;
                height: 2rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-light);
                    border: solid 1px var(--color-dark);
                    border-radius: 10rem;
                    transition: background-color .3s ease;
                }
                
                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    width: calc(2rem - 6px);
                    height: calc(2rem - 6px);
                    margin: 3px;
                    background-color: var(--color-dark);
                    border-radius: 10rem;
                    transition: background-color .3s ease, left .3s ease;
                }
            }

            &.active button,
            &[data-name="necessary"] button {

                &::before {
                    background-color: var(--color-dark);
                }

                &::after {
                    background-color: var(--color-light);
                    left: calc(100% - 2rem);
                }
            }

            &[data-name="necessary"] button {
                opacity: .3;
            }

        }
    }

    @include desktop() {
        bottom: var(--spacing-xxl);
        right: var(--spacing-xxl);
    }
    
    @include mobile() {
        width: calc(100% - 2 * var(--margin));

        .component__buttons {
            flex-direction: column;
        }
    }
}