.component-header-desktop {
    transition: background-color 0s;
    
    & > nav {
        @apply flex justify-between items-center w-full p-margin pb-xl z-[90];
        transition: padding-top var(--transition);
    }

    & > nav > div {
        @apply flex items-center gap-l;
        
        & > ul {
            @apply hidden items-center gap-xl;
            @apply d:flex;

            & a {
                @apply ts-cta;
            }
        }

        & > div {
            @apply flex items-center gap-m;

            & > * {
                @apply p-0 border-none;
            }
        }
    }

    /* & > nav > div > ul > li > a,
    & > nav > div > div > button svg,
    & > nav > div > button,
    & > nav > div > button > span,
    & > nav > a > svg > path {
        @apply transition;
    } */
}

body.headroom--not-top .component-header-desktop {
    /* background-color: var(--color-dark); */
}

/* body.headroom--not-top .component-header-desktop, */
html:not(.headroom--pinned):not(.headroom--hidden) body[wp-class*="home"] .component-header-desktop {

    & > nav > div > a > svg path {
        fill: var(--color-light);
    }

    & > nav > div > ul > li > a,
    & > nav > div > div > button svg,
    & > nav > div > button {
        @apply text-light;
    }
    
    & > nav > div > button > span span {
        @apply bg-light;
    }

    & > nav > a > svg > path {
        fill: var(--color-light);
    }
}