.component-pannel {
    @apply fixed top-0 bg-light invisible overflow-hidden z-[100];
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    & > * {
        @apply h-full;
    }
}

.component-pannel--right {
    @apply right-0 h-[100svh];

    & .component-pannel__content {
        width: var(--pannel-width);
    }
}

.component-pannel--left {
    @apply left-0 h-[100svh];

    & .component-pannel__content {
        width: var(--pannel-width);
    }
}

.component-pannel--top {
    @apply top-0 w-full;
}

.component-pannel--bottom {
    @apply bottom-0 w-full;
}

.component-pannel.is-visible {
    @apply opacity-100 visible;
}

.component-pannel-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-dark opacity-0 invisible z-[89];
    transition: opacity var(--transition-secondary), visibility 0s;
    transition-delay: 0s, var(--transition-secondary-duration);
}
    
.component-pannel-overlay.is-visible {
    @apply opacity-50 visible;
    transition-delay: 0s, 0s;
}
