.component-pannel-navigation {
     /* TODO reprendre variable */
    --color-dark: #fff;
    --color-light: #000;
    @apply h-full text-dark bg-light;
}

.component-pannel-navigation__menu {
    @apply fixed flex items-center gap-l top-margin right-margin;
    transition: top var(--transition);

    & > div {
        @apply flex items-center gap-m;
        
        & * {
            @apply p-0 border-none;
        }
    }
}

.component-pannel-navigation__content {
    @apply flex flex-col gap-xl h-full px-margin pb-margin;
    padding-top: calc(4.8rem + var(--spacing-margin) * 2);
    transition: padding-top var(--transition);
}

.component-pannel-navigation__items,
.component-pannel-navigation__items-mobile {
    @apply flex-grow overflow-auto;
    transition: var(--transition);

    & > li {

        & > a,
        & > button {
            @apply flex justify-between items-center gap-xxl w-full py-l border-t;
            border-color: #FFFFFF29;
        }
    }

    & > li.has-children {
        @apply overflow-hidden;

        & > button {
            
            & > span {
                @apply ts-h3 flex items-center;
                
                svg {
                    @apply w-24 mr-4 -ml-28;
                }
            }
            
            & > svg {
                @apply w-24;
            }
        }

        & > ul {
            @apply hidden flex-col gap-l border-t;
            border-color: #FFFFFF29;

            & > li > a {
                @apply ts-h4;
            }

            & > li:first-child {
                @apply pt-l;
            }
            
            & > li:last-child {
                @apply pb-l;
            }
        }
    }

    & > li.active {

        & > button {

            & > span {
                @apply ts-cta;

                svg {
                    @apply ml-0;
                }
            }

            & > svg {
                @apply opacity-0;
            }
        }

        & > ul {
            @apply flex;
        }
    }

    & > li:not(.has-children) > a > span {
        @apply ts-h3;
    }
}

.component-pannel-navigation__items {
    @apply hidden;
}

.component-pannel-navigation__buttons {
    @apply flex justify-between items-center gap-xl;
}

.component-pannel-navigation.show-subitems .component-pannel-navigation__items > li:not(.active),
.component-pannel-navigation.show-subitems .component-pannel-navigation__items-mobile > li:not(.active) {
    @apply hidden;
}

.component-pannel-navigation__items {
    @apply d:block;
}

.component-pannel-navigation__items-mobile {
    @apply d:hidden;
}

.show-alert {

    & .component-pannel-navigation__menu {
        top: calc(var(--spacing-margin) + var(--alert-height));
    }

    & .component-pannel-navigation__content {
        padding-top: calc(4.8rem + var(--spacing-margin) * 2 + var(--alert-height));
    }
}