:root {
    --pannel-width: calc(#{get-width-of-columns(5)} + var(--margin));
}

.component-pannel {
    @apply fixed top-0 bg-light invisible z-[100];
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    
    &--right {
        @apply right-0 h-[100svh];
        width: var(--pannel-width);
    }
    
    &--left {
        @apply left-0 h-[100svh];
        width: var(--pannel-width);
    }

    &--top {
        @apply top-0 w-full;
    }
    
    &--bottom {
        @apply bottom-0 w-full;
    }

    &.is-visible {
        @apply opacity-100 visible;
    }
}

.component-pannel-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-dark opacity-0 invisible z-[99];
    transition: opacity var(--transition-secondary), visibility 0s;
    transition-delay: 0s, var(--transition-secondary-duration);
    
    &.is-visible {
        @apply opacity-50 visible;
        transition-delay: 0s, 0s;
    }
}