$colors: map-get($data, colors);

html {
    color: var(--color-dark);
}

.dark,
.dark * {
    --color-dark: #{map-get($colors, light)};
    --color-light: #{map-get($colors, dark)};
    color: var(--color-dark);

    @if map-get($colors, darksoft) and map-get($colors, lightsoft) {
        --color-darksoft: #{map-get($colors, lightsoft)};
        --color-lightsoft: #{map-get($colors, darksoft)};
    }
    
    @if map-get($colors, darkultrasoft) and map-get($colors, lightultrasoft) {
        --color-darkultrasoft: #{map-get($colors, lightultrasoft)};
        --color-lightultrasoft: #{map-get($colors, darkultrasoft)};
    }
}

.dark {

    &.dark-reset,
    &.dark-reset *,
    .dark-reset,
    .dark-reset * {
        --color-dark: #{map-get($colors, dark)};
        --color-light: #{map-get($colors, light)};
    
        @if map-get($colors, darksoft) and map-get($colors, lightsoft) {
            --color-darksoft: #{map-get($colors, darksoft)};
            --color-lightsoft: #{map-get($colors, lightsoft)};
        }
        
        @if map-get($colors, darkultrasoft) and map-get($colors, lightultrasoft) {
            --color-darkultrasoft: #{map-get($colors, darkultrasoft)};
            --color-lightultrasoft: #{map-get($colors, lightultrasoft)};
        }
    }
}