@layer components {

    @for $i from 1 through 24 {

        .w-col-#{$i} {
            width: get-width-of-columns($i);
        }
        
        .max-w-col-#{$i} {
            max-width: get-width-of-columns($i);
        }
        
        .min-w-col-#{$i} {
            min-width: get-width-of-columns($i);
        }
    }
    
    // justify center
    .fcs {
        @apply flex justify-center items-start;
    }
    
    .fcc {
        @apply flex justify-center items-center;
    }
    
    .fce {
        @apply flex justify-center items-end;
    }
    
    // justify start
    .fss {
        @apply flex justify-start items-start;
    }
    
    .fsc {
        @apply flex justify-start items-center;
    }
    
    .fse {
        @apply flex justify-start items-end;
    }

    // justify end
    .fes {
        @apply flex justify-end items-start;
    }
    
    .fec {
        @apply flex justify-end items-center;
    }
    
    .fee {
        @apply flex justify-end items-end;
    }
    
    // justify between
    .fbs {
        @apply flex justify-between items-start;
    }
    
    .fbc {
        @apply flex justify-between items-center;
    }
    
    .fbe {
        @apply flex justify-between items-end;
    }
}
