.Page {
    &__cover {
        @apply relative h-lvh pt-xxl pb-xl;

        &::before {
            content: '';
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 49.5%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            @apply absolute z-10 top-0 left-0 w-full h-full;
        }

        &--body {
            @apply relative z-20 flex flex-col justify-between items-end h-full;
        }
    }
 
    &__breadcrumbs {
        @apply text-white;
    }

    &__title {
        @apply text-white;
    }

    &__thumbnail {
        @apply absolute top-0 left-0 flex items-end w-full h-full mb-xxl aspect-[9/5];

        & > div {
            @apply flex items-end w-full h-0 overflow-hidden;
            transition: height var(--animation-secondary);

            .image {
                @apply h-[100svh];
            }
        }

        &.is-in-view {
            & > div {
                height: 100%;
            }
        }
    }
}