@import 'base';
@import 'core';

@import 'swiper/css';

@import 'fonts.scss';
@import 'animation.scss';

// // acf components
@import 'acf-components/title.scss';
// @import 'acf-components/accordions.scss';
// @import 'acf-components/image.scss';
// @import 'acf-components/image-double.scss';
// @import 'acf-components/text.scss';
// @import 'acf-components/hours.scss';
// @import 'acf-components/rates.scss';
// @import 'acf-components/access.scss';
// @import 'acf-components/push-independant.scss';

// // components
@import 'components/hero-front-page.scss';
@import 'components/some-events.scss';
@import 'components/card-discovery.scss';
@import 'components/card-event.scss';
@import 'components/push.scss';
@import 'components/slider.scss';
@import 'components/text-and-image.scss';
@import 'components//marquee-logos.scss';
@import 'components/button.scss';
@import 'components/newsletter.scss';
// @import 'components/modal.scss';
@import 'components/label.scss';
@import 'components/filters.scss';
@import 'components/pagination.scss';
@import 'components/text.scss';
@import 'components/text-and-image.scss';
// @import 'components/header-mobile.scss';
@import 'components/header-desktop.scss';
// @import 'components/headroom.scss';
@import 'components/footer.scss';
// @import 'components/image-links.scss';
// @import 'components/marquee.scss';
// @import 'components/card-thematic_route.scss';
// @import 'components/card-exhibition.scss';
// @import 'components/card-news.scss';
// @import 'components/card-press.scss';
// @import 'components/card-event.scss';
// @import 'components/filters.scss';
// @import 'components/video.scss';
// @import 'components/selection-news.scss';
// @import 'components/selection-event.scss';
// @import 'components/selection-thematic_route.scss';
// @import 'components/selection-exhibition.scss';
// @import 'components/selection-institution.scss';
// @import 'components/all-museum.scss';
// @import 'components/cards-informations.scss';
// @import 'components/card-museum.scss';
// @import 'components/files-to-download.scss';
// @import 'components/push.scss';
// @import 'components/push-independant.scss';
// @import 'components/push-double.scss';
@import 'components/accordions.scss';
// @import 'components/cookies-manager.scss';
@import 'components/quick-links.scss';
// @import 'components/contacts.scss';
// @import 'components/wysiwyg.scss';
// @import 'components/embed.scss';
// @import 'components/carousel.scss';
// @import 'components/carousel-item-image.scss';
// @import 'components/carousel-item-piece.scss';
// @import 'components/emphasis.scss';
// @import 'components/focus.scss';
// @import 'components/logos.scss';
// @import 'components/alert.scss';
@import 'components/breadcrumbs.scss';
@import 'components/acf-flex-content.scss';
// @import 'components/table.scss';
// @import 'components/partners.scss';
// @import 'components/video-or-embed.scss';
@import 'components/pannel.scss';
@import 'components/pannel-navigation.scss';
@import 'components/pannel-search.scss';
@import 'components/pannel-filters';

// // layouts
@import 'layouts/FrontPage.scss';
@import 'layouts/Page.scss';
@import 'layouts/Archive.scss';
@import 'layouts/ArchiveEvent.scss';
// @import 'layouts/ArchiveExhibition.scss';
// @import 'layouts/ArchiveNews.scss';
// @import 'layouts/ArchivePress.scss';
// @import 'layouts/ArchiveEvent.scss';
// @import 'layouts/ArchiveThematicRoute.scss';
// @import 'layouts/SingleThematicRoute.scss';
// @import 'layouts/SingleMuseum.scss';
// @import 'layouts/SingleCollection.scss';
// @import 'layouts/TemplateSimplePage.scss';
// @import 'layouts/SingleExhibition.scss';
@import 'layouts/Search.scss';
// @import 'layouts/404.scss';


#app-content {
    padding-top: var(--margin-top);
    transition: opacity .3s ease;

    article > div {

        &.fullscreen {
            padding-top: 0;
        }
    }
}


body {

    main,
    .component--headroom {
        transition: var(--transition);
    }
    
    &:not(.content-loaded) #app {
        opacity: 0;
    }

    &.page-switching {

        #app-content {
            opacity: 0;
        }

        .component--breadcrumbs {
            opacity: 0;
        }
    }

    &.show-alert {

        .component--alert {
            transform: translate3d(0, 0, 0);
        }

        .component--headroom {
            transform: translate3d(0, var(--alert-height), 0);
        }

        main {
            padding-top: var(--alert-height);
        }
    }

    &.headroom--unpinned {

        .component--header-desktop:not(.show-submenu),
        .component--header-mobile:not(.is-open) {
            // transform: translate3d(0, -200%, 0);
            top: -10rem;
        }
    }
}


:root {
    --margin-top: 12rem;
}