@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Inter/Inter-Italic.otf") format("opentype");
}

@font-face {
    font-family: 'Inter';
    font-weight: bold;
    src: url("../fonts/Inter/Inter-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: 'PP Mori';
    font-weight: 400;
    src: url("../fonts/PPMori/PPMori-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'PP Mori';
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/PPMori/PPMori-RegularItalic.ttf") format("opentype");
}

@font-face {
    font-family: 'PP Mori';
    font-weight: bold;
    src: url("../fonts/PPMori/PPMori-SemiBold.otf") format("opentype");
}
