@font-face {
    font-family: 'PP Eiko';
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/PPEiko-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'PP Eiko';
    font-weight: 400;
    src: url("../fonts/PPEiko-Regular.woff") format("woff"), url("../fonts/PPEiko-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'PP Mori';
    font-weight: 300;
    src: url("../fonts/PPMori-Book.woff") format("woff"), url("../fonts/PPMori-Book.woff2") format("woff2");
}
