:root {
    --header-height: 4.8rem;
    --pannel-width: 100%;
}

@media (width >=  theme(--breakpoint-d)) {
    
    :root {
        --header-height: 4.8rem + var(--spacing-margin) + var(--spacing-xl);
        --pannel-width: calc(var(--spacing-col-5) + var(--spacing-margin));
    }
}
